body{
    background-color: #F6F1E9;
}
p{
    text-align: left;
    margin-left: 30%;
    
}
font{
    font-family: "Lato";
    font-weight: 600;
}
/*img{
    margin-right: 30%;
}*/

.container-fluid{
    padding: 1% 2%;
}
h1{
    font-family: "Lato";
    color: blue;
}

